<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <ul>
        <li><a href="/dances/">Main Page</a></li>
        <li><a href="/dances/create/">Add Dancer</a></li>
        <li><a href="/dances/createdance/">Add Dance</a></li>
      </ul>
    <h1>{{title}}</h1>
    <body>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Create Dance</button>
        </form>
    </body>
</body>
</html>